*{
  margin: 0;
  padding: 0;
  margin:0;
  padding:0;

  box-sizing: border-box;
}




.agenda{
    width: 30%;
    margin-left: 65%;
    margin-top: 2%;
}

ul {list-style-type: none;}


/* Month header */
.month {
  padding: 70px 25px;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


body{
    background-color: #456c97;
    font-family: Verdana, sans-serif;
}

header, footer{
  background-color: #333c49;
  color:white;
  height: 65px;
}

nav{
  width: 60vw;
  height: 100%;
  margin: 0 auto;
}

nav > ul{ 
  display: flex;
  list-style: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

nav > ul > li{
  font-family:'Open Sans', sans-serif; 
 
}



nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: gray;
  cursor: pointer;

}

.frontend{
  background-image:url("fotos/NoPath\ -\ kopie.png");
  height: 1000px;
  background-repeat: no-repeat;
  margin: 0;
  
 
  
}

.frontend > h1{
  font-family: sans-serif;
  font-size: 9vw;
  color: white;
  text-align: center;
}


.slideshow{
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  
}

.mySlides{
  display: none;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
main{
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

#contact{
    width: 650px;
    padding-left: 40px;
}


#contact > ul{
    padding: 0;
}

.openingstijden > p{
    width: 650px;
    padding-left: 40px;
}

.openingstijden > h1{
  padding-left: 40px;
}

.openingstijden > h3{
  padding-left: 40px;
}

