*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #40474f;
}

.frontend{
    background-image:url("fotos/NoPath\ -\ kopie.png");
    height: 1000px;
    background-repeat: no-repeat;
}